version: 2.1

  

jobs:
  create_infrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: Create Cloudformation Stack
          command: |
            aws cloudformation deploy \
            --template-file template.yaml \
            --stack-name dev-stack-${CIRCLE_WORKFLOW_ID:0:5}

  configure_infrastructure:
    docker: 
      - image: python:3
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints: ["39:34:39:bd:63:00:24:8f:dc:f2:ef:b9:75:28:94:ea"]
      - run:
          name: Install Ansible
          command: | 
            python3 -m pip install ansible 

      - run: 
          name: Run playbook and configure server
          command: ansible-playbook -i inventory main.yaml

  smoke_test:
    docker: 
      - image: alpine:latest
    steps:
      - run: apk add --update curl
      - run: 
          name: smoke test
          command: | 
            URL="https://blog.udacity.com/"
            if curl -s --head ${URL}
            then
              return 0
            else 
              return 1
            fi
workflows:
  mainWF:
    jobs:
      # - configure_infrastructure
      # - create_infrastructure
      - smoke-test